
</div>


</div>
</body>

  <div class="footer" style="margin-bottom:0px;padding-bottom: 0px;position:relative;height:auto;margin-top:0;">
    <h2 style="padding-bottom:0.15rem;text-align:center;">Get In Touch</h2>
    <p style="font-size:1.5rem;color:#fff;width:60%;margin:auto;"> Follow us on our social media handles for regular updates from us.</p>
    <p class="contacts" style="width:auto;">
<a href="https://instagram.com/febs.iitbbs?igshid=YmMyMTA2M2Y=" style="font-size:1.5rem;color:#000;padding-right:3rem;"><i class="fa-brands fa-instagram"></i>Instagram</a>
      <a href="https://twitter.com/febsiitbbs?t=TzB36dUb7gDfkjttjY5GaA&s=08" style="font-size:1.5rem;color:#000;padding-right:3rem;"><i class="fa-brands fa-twitter"></i>Twitter</a>
      <a href="https://www.facebook.com/febs.iitbbs" style="font-size:1.5rem;color:#000;"><i class="fa-brands fa-facebook"></i>facebook</a>

    </p >
  <p style="font-size:1rem;">Website Made By <a style="color:#000;" href="https://www.linkedin.com/in/rishin-chaudhuri-0b3903231/">Rishin Chaudhuri</a></p>
    <p style="padding-top:10px;color:#393E46;height:2;margin:0px auto;font-size:1rem;text-align:center;">
      ©Web Devlopment Team, FEBS @Science And Technical Council IIT Bhubaneshwar
    </p>

  </div>

</html>
