<%- include('partials/header'); -%>
<div class="aboutbody">



<div style="padding-top:8rem;margin:0 5rem;margin-left:7rem;padding-bottom:8rem">
  <table cellspacing="20">
    <td><img src="logo111-modified.png" alt="profile picture" width="350" height="350">
    </td>
    <td>
      <h1 style="padding-bottom:20px;font-family:'Rubik Moonrocks',cursive;font-size:5rem;color:#66BFBF;"><em>FEBS</em></h1>
      <h3>Society of Finance, Economics And Business </h3>
      <p style="font-size:1.5rem;">FEBS is IIT Bhubaneswar's society of finance, economics, and business. The community is an agglomerate of enthusiastic people brought together by their love for finance, economics, and business and their aspiration to spread the importance of financial literacy in IIT Bhubaneswar. The prime motto of our society is to encourage the development of financial literacy,  economic thought, and business ideas.</p>
    </td>
  </table>
</div>
<center>

  <hr>
  <div style="width:75%;text-align:center;padding-bottom:40px;">
    <br>
    <h2 style="padding-bottom:20px;font-family:'Rubik Moonrocks',cursive;font-size:5rem;color:#66BFBF;"><em>About Us</em></h2>
    <p style="font-size:1.5rem;"><%=about%></p>
    <br>
    <hr>
  </div>
<h1 style="text-align:center;padding-bottom:20px;font-family:'Rubik Moonrocks',cursive;font-size:5rem;color:#66BFBF;">Events</h1>
<div class="row" >
  <div class="col-4" style="margin-left:10rem;">
   <img src="events1.jpeg" alt="" style="width:30rem;height:30rem;">
  </div>
  <div class="col-4" style="margin-left:5rem;">
<p style="font-size:2rem;padding-top:6rem;">We host exciting lectures and talks by eminent personalities and our alumni apart from competitions like virtual trading, stock war, auction war, etc., stimulating quizzes and engaging debates and whatnot.
</p>
  </div>
</div>
<div class="row" style="margin-top:10rem;">

  <div class="col-4" style="margin-left:10rem;">
<p style="font-size:2rem;padding-top:6rem;">We also manage an online website with articles on different economic concepts and reviews, financial capacities, and business models. Society plans to build a repository of fundamental concepts of our domains.
</p>
  </div>
  <div class="col-4" style="margin-left:5rem;">
   <img src="events2.jpeg" alt="" style="width:30rem;height:30rem;">
  </div>
</div>
<div class="row" style="margin-top:10rem;">

  <
  <div class="col-4" style="margin-left:10rem;">
   <img src="events3.jpeg" alt="" style="width:30rem;height:30rem;">
  </div>

  <div class="col-4" style="margin-left:5rem;">
<p style="font-size:2rem;padding-top:6rem;"> We also aim to provide roadmaps and career guidance for those interested in a career in the supply chain, product management, finance, consulting, investment banking, etc.
</p>
  </div>

  <div class="container1"style="padding-top:0px;">
    <h1 style="text-align:center;padding-bottom:20px;font-family:'Rubik Moonrocks',cursive;font-size:5rem;color:#66BFBF;">Exciting Lectures And Talks</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="width:100rem;margin:auto;">



  <div class="carousel-inner" >
    <div class="carousel-item active"  style="padding-left:2rem;">
  <img src="seminar1.jpeg" alt="seminar1" width="60%" height="50%"/>
    </div>

      <div class="carousel-item "  style="padding-left:2rem;">
      <img src="seminar2.jpeg" alt="seminar2" width="60%" height="50%"/>
      </div>

        <div class="carousel-item"  style="padding-left:2rem;">
        <img src="seminar3.jpeg" alt="seminar2" width="60%" height="50%"/>
        </div>


    </div>


  </div>
  </div>
  </div>
</center>
</div>
<%- include('partials/footer.ejs'); -%>
